html,body {
    height:100%;
}

.stories-root,
.home-root {
    height:100%;
}

.stories-root .row,
.home-root .row {
    height:100%;
}

.home-col-1 {
    background-color: #F5EDE2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-col-1 > div {
    text-align: center;
}

.home-col-1 > div:first-child {
    padding-top: 5rem;
}

.home-col-1 > div:nth-child(2) {
    padding-bottom: 5rem;
}

.tpi-card {
    border-radius: 1rem;
    background-color: #F5F5F7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 1rem;
    margin: 1rem;
}

.tpi-title {
    margin: 1rem;
}

.tpi-activities-root {
    display: flex;
    align-items: center;
}

.tpi-card-welcome {
    display: flex;
    align-items: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 1rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.home-col-3 {
    padding: 1rem;
}

.tpi-tip-card {
    background-color: #F5EDE2;
    border-radius: 1rem;
    padding: 1rem;
}

.tpi-tip-card-title {
    font-size: 0.7rem;
}

.tpi-tip-card-button {
    margin: 1rem 1rem 0rem 1rem;
}

.tpi-home-activities-counter {
    background-color: #F5EDE2;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.tpi-home-activities-counter .row {
    display: flex;
    align-items: center;
}

.tpi-home-activities-counter .row div:nth-child(1) {
    text-align: center;
}

.tpi-card-stories-title {
    background-color: #F5EDE2;
    border-radius: 1rem;
    padding: 1rem;
}

.tpi-card-stories-container {
    background-color: #F5F5F7;
    border-radius: 1rem;
    padding: 1rem;
}

.tpi-story-img {
    height: 500px;
    width: auto;
    margin: auto;
}

.tpi-story-caption {
    margin-top: 1rem;
    position: unset !important;
}

.tpi-story-caption-title {
    color: #212529;
}

.star-on {
    color: gold;
}

.star-off {
    color: #212529;
}

.tpi-story-caption-views {
    color: #aaa;
}

.tpi-carousel-indicators {
    margin: 0;
}
