html,body {
    height:100%;
}

.home-root {
    height:100%;
}

.home-root .row {
    height:100%;
}

.home-col-1 {
    background-color: #F5EDE2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-col-1 > div {
    text-align: center;
}

.home-col-1 > div:first-child {
    padding-top: 5rem;
}

.home-col-1 > div:nth-child(2) {
    padding-bottom: 5rem;
}

.tpi-card {
    border-radius: 1rem;
    background-color: #F5F5F7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 1rem;
    margin: 1rem;
}

.tpi-title {
    margin: 1rem;
}

.tpi-activities-root {
    display: flex;
    align-items: center;
}

.tpi-card-welcome {
    display: flex;
    align-items: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}